version: '3.8'

services:
  tfpeventingester:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tfp-event-ingester
    ports:
      - "8095:8080"   # Web Console    
    networks:
      - berlink-network
    restart: unless-stopped

networks:
  berlink-network:
    external: true
    name: berlink-dev_berlink-network
