version: '3.8'

services:
  # Email Notifier Service

  notifier:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: berlink-email-notifier
    ports:
      - 5005:5005 
    environment:
      # Logging
      LOGGING_LEVEL_COM_CONTAINERMGMT_NOTIFIER: DEBUG
    volumes:
      - /opt/berlink/notifier/data/application.yml:/app/application.yml
      - /opt/berlink/notifier/data/notifications.yml:/app/notifications.yml
    restart: unless-stopped
    networks:
      - berlink-network
      
networks:
  berlink-network:
    external: true
    name: berlink-dev_berlink-network
