version: '3.8'

services:
  # Email Notifier Service
  chatprocessor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat-processor
    environment:
      # Database Configuration
      DB_HOST: postgres-service
      DB_NAME: berlinkdb
      DB_PORT: 5432
      DB_USER: berlink
      DB_PASSWORD: berlink

      # Valkey Configuration
      VALKEY_HOST: valkey-service
      VALKEY_PORT: 6379
      VALKEY_PASSWORD: 

    depends_on:
      - postgres
      - valkey
    networks:
      - berlink-network 
    restart: unless-stopped


networks:
  berlink-network:
    driver: bridge
